{% extends "::base.html.twig" %}

{% block headTitle %}MetinetAppBundle:Fact:submit{% endblock %}

{% block body %}
    <h1>Welcome to the Fact:submit page</h1>
    <form action="{{ path("submit") }}" method="POST">
        <div class="form-group">
            {{ form_label(form.number) }}
            {{ form_widget(form.number) }}
        </div>
        <div class="form-group">
            {{ form_label(form.summary) }}
            {{ form_widget(form.summary) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        {{ form_rest(form) }}
    </form>
{% endblock %}
